<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeAssistantAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJmZDMyZGIxNTk4YjM0MTViYjg2ZGYxNmIxMWUyZDAzZiIsImlhdCI6MTY5ODcyNTg1MiwiZXhwIjoyMDE0MDg1ODUyfQ.z5BBxYGrWxW-5VT_Gz5iz0o-F-idRgQzitfLoalqR_k</string>
	<key>HomeAssistantServerURL</key>
	<string>ws://192.168.0.10:8123/api/websocket</string>
</dict>
</plist>
