<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeAssistantAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiIwZWVlNDI5NWU3MzE0OWI5OWEwYWQ1MDRhZmY0NjU4NiIsImlhdCI6MTY5ODYyNjIwOSwiZXhwIjoyMDEzOTg2MjA5fQ.XI9BKrLgtcFazS7SP4F2Tq1gMl17baAQDA7nXfIh4NQ</string>
	<key>HomeAssistantServerURL</key>
	<string>ws://192.168.0.10:8123/api/websocket</string>
</dict>
</plist>
