<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HomeAssistantAccessToken</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJkN2MyOWY2MzBiNDM0NjcxYjNlMTM5YWY4MDk4MWVhNyIsImlhdCI6MTY5NTc0NDMxMSwiZXhwIjoyMDExMTA0MzExfQ.OPqaqXdNbsQnOC7RvS5PAVVllKt8iC9YTnKkpFAOSmY</string>
	<key>HomeAssistantServerURL</key>
	<string>ws://192.168.0.14:8123/api/websocket</string>
</dict>
</plist>
